body {
  font-family: "Audiowide", sans-serif;
}
div.answers{
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
}
.button-answer {
    width: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 3px solid #c266d3;
    border-radius: 15px;
    color: #fff;
    transition: .3s;
    background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
    background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .button-answer:hover {
    animation: pulse 1s infinite;
    transition: .3s;
    background-position: 100%;
    color: #c266d3;
    box-shadow: 0 0 10px 0 #c266d3 inset, 0 0 20px 2px #c266d3;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
.result{
  display: flex;
  justify-content: center;
  color: #c266d3;
  font-size: 40px;

}